* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

:root {
  --color-white: white;
  --color-black: #130E13;
  --color-pink: #e11577;
  --fundo-um:#780387;
  --color-grey:#191919;
}

.bg {
  background-image: url(assets/bg_capa.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: var(--color-white);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  padding: 15px;
  font-family: "Nunito", sans-serif;
}
.logo {
  font-size: 35px;
}
.logo span {
  color: var(--color-pink);
}

.nav li {
  list-style: none;
  display: inline-block;
  font-size: 22px;
  margin: 0 20px;
  }
.nav a{
  color: var(--color-white);
  text-decoration: none;
}

.nav a:hover{
  color: var(--color-pink);
  transition: 0.5s;
  animation: animefonte 0.8s infinite alternate;
}

.banner{
  position: absolute;
  top: 40%;
  left: 10%;
  font-family: 'Josefin Sans', sans-serif;
}

.banner h1 {
  font-size: 75px;
}

.banner p {
  font-size: 30px;
  width: 18ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s 1s steps(18), blinking 0.5s infinite step-end alternate;
}

.header-icons i{
color: var(--color-white);
margin: 55px 20px 0 0;
font-size: 40px;
}

.linkedin i:hover{
     animation: translateY 0.8s infinite alternate;
    color: #0e76a8;
 }

 .github i:hover{
     animation: translateY 0.8s infinite alternate;
    color: #780387;
 }

.sobre {
  display: flex;
  height: 500px;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
}

.textabout {
  margin: 0 35px;
}
.sobre img {
  height: 300px;
  border-radius: 50%;
  border: #780387 solid 2px;
  margin: 0 45px;
}

.sobre h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 35px;
}

.sobre p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}

.project {
  background:var(--color-grey);
  color: var(--color-white);
 
  
}

.project h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 55px;
  text-align: center;
  padding-top: 50px;
}

.card {
  background-color: var(--color-black);
  width: 335px;
  border-radius: 20px;
  padding: 25px 35px;
  text-align: center;
  margin-bottom: 55px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.card img {
  height: 100px;
  
}

.card h5 {
  font-size: 24px;
  padding-top: 7px;
}

.card p {
  padding-top: 20px;
  margin-bottom: 14px;
  font-family: "Nunito", sans-serif;
  opacity: 0.5;
 
}

.cadrs-project {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;

}
.card-btn{
  background-color: var(--color-pink);
  border-radius: 8px;
  text-decoration: none;
  color:var(--color-black);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  box-shadow: rgba(59, 58, 58, 0.24) 0px 3px 8px;
  
}

.icon-tec{
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 35px;
  padding: 10px;
  opacity: .5;
  border-radius: 5px;
}
.social-card{
padding-bottom: 10px;
}
.card-content{
 padding-bottom: 10px;
 overflow: hidden;
 height: 0;
 transition: all 0.5s;
}

.card-content:hover{
  height: 275px;
  transition: 0.5s;
}


.whatsapp i:hover {
    animation: translateY 0.8s infinite alternate;
   color: #04bc41;

}

footer {
  background-color: var(--color-black);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h5{
  font-size: 35px;

}
footer p {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 14px;
}
.social i {
 color: #e11577;
 margin: 7px;
}



@keyframes translateY {
  from{
    transform: translateY(0) scale(1);
  }
  to{
    transform: translateY(-8px) scale(1.1);
  }
}


@keyframes animefonte {
  from{
    font-size: 22px;
  }
  to{
    font-size: 25px;
  }
}
@keyframes typing {
  from  {
    width: 0;
  }
}
@keyframes blinking {
  50% {
    border-color: transparent;
  }
}